<nav class="global-nav" aria-label="メインナビゲーション">
  <div class="global-nav__inner">
    <a href="index.html" class="global-nav__logo" data-site-name>melt</a>
    <ul class="global-nav__links">
      <li><a href="index.html" class="global-nav__link">Home</a></li>
      <li><a href="about.html" class="global-nav__link">About</a></li>
      <li><a href="works.html" class="global-nav__link">Works</a></li>
      <li><a href="contact.html" class="global-nav__link">Contact</a></li>
    </ul>
  </div>
</nav>
